@font-face {
  font-family: "iconfont"; /* Project id 2933708 */
  src: url('iconfont.woff2?t=1640051247779') format('woff2'),
       url('iconfont.woff?t=1640051247779') format('woff'),
       url('iconfont.ttf?t=1640051247779') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-port-add:before {
  content: "\e6df";
}

.icon-clear:before {
  content: "\e900";
}

.icon-node-arrow-right:before {
  content: "\e743";
}

.icon-node-help:before {
  content: "\e602";
}

.icon-node-data-view:before {
  content: "\e633";
}

.icon-bm-unfold:before {
  content: "\e67f";
}

.icon-bm-fold:before {
  content: "\e692";
}

.icon-deploy:before {
  content: "\e60f";
}

.icon-graph-sync:before {
  content: "\e6ca";
}

.icon-node-error:before {
  content: "\e6b8";
}

.icon-save:before {
  content: "\e996";
}

.icon-editor:before {
  content: "\e64b";
}

.icon-run:before {
  content: "\e66f";
}

.icon-addition:before {
  content: "\e6e0";
}

.icon-minus:before {
  content: "\e670";
}

.icon-checkgou:before {
  content: "\e6f2";
}

.icon-node-paste:before {
  content: "\e70d";
}

.icon-node-copy:before {
  content: "\ec7a";
}

.icon-node-delete:before {
  content: "\e651";
}

.icon-node-cut:before {
  content: "\e600";
}

.icon-arrow-down-full:before {
  content: "\e68a";
}

.icon-arrow-right-full:before {
  content: "\e689";
}

.icon-cube:before {
  content: "\e94b";
}

.icon-arrow-down:before {
  content: "\e665";
}

